In [1]:
import pandas as pd

df = pd.read_csv("../Features - Mar 2022/MergedData.csv", sep="|")

D:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3326: DtypeWarning: Columns (7,14,15,16,17,18,19,20,21,22,30,32,33,34,35,41,42,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,64,65,66,67,68) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [19]:
d = pd.DataFrame()
d["columns"] = df.nunique().index
d["unique values"] = df.nunique().values
d.head(40)

                       columns  unique values
0                   IncidentID         153891
1                   SystemName              2
2                  ProgrammeID             12
3              ClientCompanyID             34
4                FCIIncidentID         153891
5           FCIClientCompanyID             35
6              InstructionDate         120190
7       IncidentDiscoveredDate          15530
8                     LossDate          31458
9              LossDescription         118666
10              IncidentStatus              9
11                    LossType             92
12       LossTypeQualification            196
13                   ClaimType             11
14                   Liability             14
15             PresentPosition          30671
16          NotificationMethod              8
17                 IntakeRoute              2
18           CrawfordReference           1545
19               FNOLReference          12170
20            InsurerReference           6844
21             BrokerReference           6222
22  DomesticCommercialIncident              2
23                FCIClaimType              5
24         FCISuspicionOfFraud              2
25             FCIFraudSavings            292
26             FCIFraudOutcome              2
27              ReferralCaseId            829
28      DirectFraudInstruction              2
29           ClientCompanyName             33
30               ProgrammeName             12
31          DelegatedAuthority              2
32              ClosedDateTime          31575
33                ReceivedDate           1553
34                 ClaimStatus              3
35                      Result             82
36  gf_total_recovery_reserves            103
37           gf_total_reserves          53653
38           gf_payment_amount          66439
39          gf_recovery_amount           2790

In [20]:
d.tail(40)

                               columns  unique values
40                   gf_claimed_amount          52159
41                gf_has_fraud_concern             13
42                 FraudConsideredDate            841
43                            PolicyNo          82245
44                          PolicyType             11
45                 PolicyInceptionTime            163
46                    PolicyExpiryTime              5
47                ProgrammePolicyCover              3
48           ProgrammePolicyholderName          30062
49               ProgrammePolicyNumber          29687
50            ProgrammePolicyStartDate           2082
51            ProgrammePolicyStartTime             22
52              ProgrammePolicyEndDate           2073
53              ProgrammePolicyEndTime             24
54      ProgrammePolicyTelephoneNumber           2267
55              ProgrammePolicyAddress          19471
56             ProgrammePolicyPostCode          10531
57    ProgrammePolicyholderDateofBirth           7998
58   ProgrammePolicyholderMobileNumber          11011
59   ProgrammePolicyholderEmailAddress          23328
60          ProgrammePolicyholderNotes          16941
61                             Country            117
62                             Address         122311
63                            PostCode          78670
64                               Addr1          83800
65                               Addr2          44230
66                               Addr3          15651
67                               Addr4           3995
68                    LossLocationType              6
69                   LossDescription.1         118666
70  gf_suspicious_or_concern_sentences          21844
71            gf_suspicious_or_concern              2
72                  gf_fraud_sentences           7906
73                   gf_contains_fraud              2
74       gf_alcogol_or_drugs_sentences            353
75                 gf_alcogol_or_drugs              2
76       gf_quick_settlement_sentences          18918
77                 gf_quick_settlement              2
78             gf_unemployed_sentences             85
79                       gf_unemployed              2

In [4]:
df[df.columns[0:10]].head(5)

,IncidentID,SystemName,ProgrammeID,ClientCompanyID,FCIIncidentID,FCIClientCompanyID,InstructionDate,IncidentDiscoveredDate,LossDate,LossDescription
0,6013392,Claims Manager,144.0,127,CLAIMSMANAGER6013392,CLAIMSMANAGER144,2016-06-20 00:00:00,NaN,2016-06-20 09:00:00,Travelers live test claim
1,6057943,Claims Manager,174.0,158,CLAIMSMANAGER6057943,CLAIMSMANAGER174,2016-01-04 00:00:00,NaN,2016-01-01 08:20:00,"PH lost control of the vehicle, and hit a gate."
2,6057944,Claims Manager,183.0,163,CLAIMSMANAGER6057944,CLAIMSMANAGER183,2016-01-04 09:30:00,NaN,2015-12-31 19:00:00,"PH house got broken in to, TP took keys to van..."
3,6057945,Claims Manager,174.0,158,CLAIMSMANAGER6057945,CLAIMSMANAGER174,2016-01-01 15:41:00,NaN,2016-01-01 13:50:00,Insured has reversed in to a garage and hit th...
4,6057946,Claims Manager,181.0,160,CLAIMSMANAGER6057946,CLAIMSMANAGER181,2015-12-31 11:14:00,NaN,2015-12-31 09:30:00,TP has hit PH in the rear.

In [5]:
df[df.columns[10:20]].head(5)

,IncidentStatus,LossType,LossTypeQualification,ClaimType,Liability,PresentPosition,NotificationMethod,IntakeRoute,CrawfordReference,FNOLReference
0,Data Entry Error,PRP MD C: Accidental damage,Other - 0122,Property and Business Interruption,Under investigation,Travelers test live claim,NaN,NaN,NaN,NaN
1,Closed,Crash / Impact,Own Hit TP Property,Motor,Own,"16 Feb 2016: ADTL - TL paid, awaiting salvage ...",Telephone Notification,NaN,<No Data Present>,NaN
2,Closed,Theft / Attempted Theft,Theft Recovered,Motor,Own,"14 Jan 2016: claim below excess, file closed06...",Telephone Notification,NaN,<No Data Present>,NaN
3,Closed,Crash / Impact,Own Hit TP Vehicle offside,Motor,Own,Nothing further from CHO. Dates back to 2016. ...,Third Party Allegation (telephone),NaN,<No Data Present>,NaN
4,Closed,Crash / Impact,TP Hit Own Vehicle in Rear,Motor,Third Party,08/03/2016 - full recovery made file closed25 ...,Email/Paper Notification,NaN,<No Data Present>,NaN

In [6]:
df[df.columns[20:30]].head(5)

,InsurerReference,BrokerReference,DomesticCommercialIncident,FCIClaimType,FCISuspicionOfFraud,FCIFraudSavings,FCIFraudOutcome,ReferralCaseId,DirectFraudInstruction,ClientCompanyName
0,NaN,NaN,NaN,Property,N,0.0,N,NaN,N,Travelers
1,0000,NaN,NaN,Motor,N,0.0,N,NaN,N,Carrot Insurance
2,0000,NaN,NaN,Motor,N,0.0,N,NaN,N,Moorhouse Insurance
3,0000,NaN,NaN,Motor,N,0.0,N,NaN,N,Carrot Insurance
4,IC 151231 04198,Private Hire,NaN,Motor,N,0.0,N,NaN,N,Insurancentre

In [7]:
df[df.columns[30:40]].head(5)

,ProgrammeName,DelegatedAuthority,ClosedDateTime,ReceivedDate,ClaimStatus,Result,gf_total_recovery_reserves,gf_total_reserves,gf_payment_amount,gf_recovery_amount
0,Travelers Insurance,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Carrot Insurance,Y,2016-03-23 00:00:00,2016-01-04,Closed,Own Engineer Fees,0.0,0.0,1284.76,70.00
2,Moorhouse Insurance,Y,2016-07-13 00:00:00,2016-01-04,Closed,Own Engineer Fees,0.0,0.0,193.60,0.00
3,Carrot Insurance,Y,2017-10-30 09:49:16,2016-01-04,Closed,Handling Fees,0.0,0.0,10021.30,0.00
4,Insurancentre,Y,2016-03-08 00:00:00,2016-01-04,Closed,Own Engineer Fees,0.0,0.0,538.54,404.94

In [8]:
df[df.columns[40:50]].head(5)

,gf_claimed_amount,gf_has_fraud_concern,FraudConsideredDate,PolicyNo,PolicyType,PolicyInceptionTime,PolicyExpiryTime,ProgrammePolicyCover,ProgrammePolicyholderName,ProgrammePolicyNumber
0,NaN,NaN,NaN,Travelers Policy Ref,Property and Business Interruption,2015-11-01,2050-12-31,NaN,Test 4,NaN
1,0.0,NaN,NaN,NaN,Motor,2014-01-01,2050-12-31,Fully Comprehensive,Melody Brandon,ALPH453/009593
2,0.0,NaN,NaN,NaN,Motor,2010-04-01,2049-03-31,Fully Comprehensive,Matt Fenemore,MHARB01604011062
3,0.0,NaN,NaN,NaN,Motor,2014-01-01,2050-12-31,Fully Comprehensive,Sarah Fenwick,ALPH453/008778
4,0.0,NaN,NaN,Alpha,Motor,2015-01-01,2050-12-31,Fully Comprehensive,NETWORK PRIVATE HIRE LTD,ALPHA1006220018

In [9]:
df[df.columns[50:60]].head(5)

,ProgrammePolicyStartDate,ProgrammePolicyStartTime,ProgrammePolicyEndDate,ProgrammePolicyEndTime,ProgrammePolicyTelephoneNumber,ProgrammePolicyAddress,ProgrammePolicyPostCode,ProgrammePolicyholderDateofBirth,ProgrammePolicyholderMobileNumber,ProgrammePolicyholderEmailAddress
0,2016-06-01,NaN,2017-05-31,NaN,NaN,"78 Rosslyn Avenue, Romford",RM3 0DJ,NaN,NaN,NaN
1,2015-12-23,NaN,2016-12-22,NaN,NaN,Flat 6 687-693 The Reach London RoadWestcliff-...,NaN,NaN,NaN,melodybrandon8@gmail.com
2,2015-01-29,NaN,2016-01-28,NaN,NaN,47 Loscoe GrangeLoscoeHeanor,NaN,NaN,NaN,Matthew.fenemore@me.com
3,2015-12-07,NaN,2016-12-06,NaN,NaN,45 GledcliffeHalifaxWest Yorkshire,NaN,NaN,NaN,sarah.fenwick96@icould.com
4,2015-06-30,NaN,2016-06-29,NaN,NaN,4 Foundry StreetGLASGOW,NaN,NaN,NaN,NaN

In [10]:
df[df.columns[60:70]].head(5)

,ProgrammePolicyholderNotes,Country,Address,PostCode,Addr1,Addr2,Addr3,Addr4,LossLocationType,LossDescription.1
0,NaN,United Kingdom (the),"249 Midsummer Boulevard, Milton Keynes",MK9 1YA,NaN,NaN,NaN,NaN,NaN,Travelers live test claim
1,NaN,United Kingdom (the),47 Stadium Way Benfleet,NaN,NaN,NaN,NaN,NaN,NaN,"PH lost control of the vehicle, and hit a gate."
2,NaN,United Kingdom (the),Driveway of PH home address.,NaN,NaN,NaN,NaN,NaN,NaN,"PH house got broken in to, TP took keys to van..."
3,NaN,United Kingdom (the),Albert Street,NaN,NaN,NaN,NaN,NaN,NaN,Insured has reversed in to a garage and hit th...
4,Technician - Debbie GrayIC 151231 04198,United Kingdom (the),North Street,NaN,NaN,NaN,NaN,NaN,NaN,TP has hit PH in the rear.

In [11]:
df[df.columns[70:80]].head(5)

,gf_suspicious_or_concern_sentences,gf_suspicious_or_concern,gf_fraud_sentences,gf_contains_fraud,gf_alcogol_or_drugs_sentences,gf_alcogol_or_drugs,gf_quick_settlement_sentences,gf_quick_settlement,gf_unemployed_sentences,gf_unemployed
0,NaN,False,NaN,False,NaN,False,NaN,False,NaN,False
1,NaN,False,NaN,False,NaN,False,NaN,False,NaN,False
2,NaN,False,NaN,False,NaN,False,NaN,False,NaN,False
3,NaN,False,NaN,False,NaN,False,NaN,False,NaN,False
4,NaN,False,NaN,False,NaN,False,NaN,False,NaN,False

In [31]:
# Import library
from d3graph import d3graph, vec2adjmat

source = ['node A','node F','node B','node B','node B','node A','node C','node Z']
target = ['node F','node B','node J','node F','node F','node M','node M','node A']
weight = [5.56, 0.5, 0.64, 0.23, 0.9,3.28,0.5,0.45]

# Convert to adjacency matrix
adjmat = vec2adjmat(source, target, weight=weight)

print(adjmat)
# target  node A  node B  node F  node J  node M  node C  node Z
# source                                                        
# node A    0.00     0.0    5.56    0.00    3.28     0.0     0.0
# node B    0.00     0.0    1.13    0.64    0.00     0.0     0.0
# node F    0.00     0.5    0.00    0.00    0.00     0.0     0.0
# node J    0.00     0.0    0.00    0.00    0.00     0.0     0.0
# node M    0.00     0.0    0.00    0.00    0.00     0.0     0.0
# node C    0.00     0.0    0.00    0.00    0.50     0.0     0.0
# node Z    0.45     0.0    0.00    0.00    0.00     0.0     0.0

# Initialize
d3 = d3graph()

# Process adjacency matrix
d3.graph(adjmat)
d3.show()

size = [10,20,10,10,15,10,5]

# Example B: Color nodes
d3.set_node_properties(color=adjmat.columns.values, size=size)
d3.show()

# Example C: include node size
d3.set_node_properties(color=adjmat.columns.values, size=size)
d3.show()

# Example D: include node-edge-size
d3.set_node_properties(color=adjmat.columns.values, size=size, edge_size=size[::-1], cmap='Set2')
d3.show()

# Example E: include node-edge color
d3.set_node_properties(color=adjmat.columns.values, size=size, edge_size=size[::-1], edge_color='#000000')
d3.show()

# Example F: Change colormap
d3.set_node_properties(color=adjmat.columns.values, size=size, edge_size=size[::-1], edge_color='#00FFFF', cmap='Set2')
d3.show()

# Example G: Include directed links. Arrows are set from source -> target
d3.set_edge_properties(directed=True)
d3.set_node_properties(color=adjmat.columns.values, size=size, edge_size=size, edge_color='#000FFF', cmap='Set1')
d3.show()

[d3graph] ERROR> Networkx version should be >= 2.5
[d3graph] INFO> Hint: pip install -U networkx
[d3graph] INFO> Keep only edges with weight>0
[d3graph] INFO> Create directory: [C:\Users\User\AppData\Local\Temp\tmph_scnn1z]
[d3graph] INFO> Slider range is set to [0, 6]
[d3graph] INFO> Write to path: [C:\Users\User\AppData\Local\Temp\tmph_scnn1z\d3graph.html]

target  node A  node B  node F  node J  node M  node C  node Z
source
node A    0.00     0.0    5.56    0.00    3.28     0.0     0.0
node B    0.00     0.0    1.13    0.64    0.00     0.0     0.0
node F    0.00     0.5    0.00    0.00    0.00     0.0     0.0
node J    0.00     0.0    0.00    0.00    0.00     0.0     0.0
node M    0.00     0.0    0.00    0.00    0.00     0.0     0.0
node C    0.00     0.0    0.00    0.00    0.50     0.0     0.0
node Z    0.45     0.0    0.00    0.00    0.00     0.0     0.0

[d3graph] INFO> Create directory: [C:\Users\User\AppData\Local\Temp\tmp5mpb50pt]
[d3graph] INFO> Slider range is set to [0, 6]
[d3graph] INFO> Write to path: [C:\Users\User\AppData\Local\Temp\tmp5mpb50pt\d3graph.html]
[d3graph] INFO> Create directory: [C:\Users\User\AppData\Local\Temp\tmp09vywzpb]
[d3graph] INFO> Slider range is set to [0, 6]
[d3graph] INFO> Write to path: [C:\Users\User\AppData\Local\Temp\tmp09vywzpb\d3graph.html]
[d3graph] INFO> Create directory: [C:\Users\User\AppData\Local\Temp\tmp2oh0r_sv]
[d3graph] INFO> Slider range is set to [0, 6]
[d3graph] INFO> Write to path: [C:\Users\User\AppData\Local\Temp\tmp2oh0r_sv\d3graph.html]
[d3graph] INFO> Create directory: [C:\Users\User\AppData\Local\Temp\tmp7pacdl_c]
[d3graph] INFO> Slider range is set to [0, 6]
[d3graph] INFO> Write to path: [C:\Users\User\AppData\Local\Temp\tmp7pacdl_c\d3graph.html]
[d3graph] INFO> Create directory: [C:\Users\User\AppData\Local\Temp\tmpjndn1wl0]
[d3graph] INFO> Slider range is set to [0, 6]
[d3graph] INFO> Write to path: [C:\Users\User\AppData\Local\Temp\tmpjndn1wl0\d3graph.html]
[d3graph] INFO> Keep only edges with weight>0
[d3graph] INFO> Create directory: [C:\Users\User\AppData\Local\Temp\tmpd38n2p6f]
[d3graph] INFO> Slider range is set to [0, 6]
[d3graph] INFO> Write to path: [C:\Users\User\AppData\Local\Temp\tmpd38n2p6f\d3graph.html]

In [ ]:
# !pip install d3graph